/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y fondo general */
body {
  font-family: "Georgia", serif;
  background-color: #ffffff;
  color: #2b2b2b;
  line-height: 1.6;
  background-image: url("../images/B.jpg");
  background-size: cover;        /* La imagen cubre toda la pantalla */
  background-position: center;   /* Centrada */
  background-repeat: no-repeat;  /* No se repite */
  background-attachment: fixed;  /* Efecto “parallax” */
}

.main-content {
  background-image: url("../images/B.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

/* Contenedor general */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* =========================
   HEADER
========================= */
header {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 30px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #6b6b6b;
  font-size: 20px;
}

nav a.active,
nav a:hover {
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

/* =========================
   INTRO
========================= */
.content {
  margin-top: 80px;
  max-width: 600px;
}

.content h1 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 20px;
}

.content p {
  font-size: 40px;
  color: #555;
}

/* =========================
   MAIN CONTENT
========================= */
.news-content {
  margin-top: 60px;
  max-width: 450px;
}

.news-content p {
  margin-bottom: 20px;
  font-size: 27px;
}

.news-content h2 {
  margin: 40px 0 15px;
  font-size: 35px;
  font-weight: normal;
  color: #560606;
}

.news-content ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.news-content ul li {
  margin-bottom: 10px;
}

/* Enlaces */
.news-content a {
  color: #000;
  text-decoration: underline;
}

/* =========================
   MENU INFERIOR
========================= */
.menu {
  margin-top: 80px;
  background-color: #1e1e1e;
  padding: 40px 0;
}

.menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 10px 0;
}

.menu-icon {
  width: 20px;
  margin-right: 10px;
}

.menu-item p {
  font-size: 18px;
}

/* =========================
   FOOTER
========================= */
.footer_section {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #777;
}

.footer_section a {
  color: #c82929;
  text-decoration: none;
}

/* =========================
    TABLES
========================= */

table {
      width: 80%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

caption {
    caption-side: top;
    color: #c82929;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

tr {
    background-color: #f7f7f7;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .content h1 {
    font-size: 36px;
  }

  .header-content {
    flex-direction: column;
    gap: 15px;
  }

  nav a {
    margin: 0 10px;
  }

  .menu-content {
    flex-direction: column;
  }
}

/* =========================
   Contact
========================= */

body {
    background-color: #969494;
}

.email-form {
    width: 600px;
    background: white;
    padding: 20px;
    margin: 40px auto;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 70px;
    font-weight: bold;
}

input {
    flex: 1;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 162px;
    padding: 10px;
    resize: none;
}
button {
    padding: 8px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #680303;
}

/* =========================
   Net
========================= */

button.net-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button.net-button img {
    width: 290px;
    transition: filter 0.3s ease;
}

button.net-button:hover img {
    border: #680303;
    border-radius: 30%;
    filter: brightness(0.8);
}

.news-content h1 {
  font-size: 30px;
  font-weight: normal;
  color: #f71414;
  text-decoration: underline;
}

/* =========================
   Topic
========================= */

.profile-img-wrapper {
  display: flex;
  gap: 15px;
  margin-right: 20px;
  margin-left: 20px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}